/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
:root {
  --banner-top-gradient: #0063b2ff;
  --banner-bottom-gradient: #9cc3d5ff;
}

main.home-page {
  background-image: url(./images/HomePage.jpg);
  height: 100vh;
  width: 92vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.banner {
  background: linear-gradient(
    var(--banner-top-gradient),
    var(--banner-bottom-gradient)
  );
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}
button.home-button {
  margin-top: 2rem;
  height: 3rem;
  width: 6rem;
  font-size: 18px;
  font-weight: bolder;
}
.container {
  margin: 0;
}
main {
  margin: 0;
}
.search-page {
  background-color: #9cc3d5ff;
  text-align: center;
  padding: 2rem;
  color: white;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #0063b2ff;
  margin-bottom: 1rem;
  .search-header {
    margin-bottom: 3rem;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    font-weight: bolder;
  }
  .map-container .map {
    border-radius: 1rem;
    border-style: solid;
    border-color: #0063b2ff;
    margin-top: 2.1rem;
  }
  .cant-find-your-bar {
    margin-top: 3rem;
  }
}
.bar-address {
  display: flex;
}
.bar-address p {
  padding: 0.25rem;
}

.details {
  border-color: #0063b2ff;
  border-style: solid;
  text-align: center;
  background-color: #9cc3d5ff;
  color: white;
  border-radius: 1rem;

  img {
    height: 20vh;
    width: 80vw b;
  }
}
.map-container {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.add-page {
  background-color: #9cc3d5ff;
  color: white;

  text-align: center;
  border-radius: 1rem;
  border-color: #0063b2ff;
  border-style: solid;
}
@media (min-width: 600px) {
  main.home-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
  }
}
