/* Provide sufficient contrast against white background */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
:root {
  --banner-top-gradient: #0063b2ff;
  --banner-bottom-gradient: #9cc3d5ff;
}
.container {
  padding-left: 6px;
}
main.home-page {
  background-image: url(./images/HomePage.jpg);
  height: 100vh;
  width: 92vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5rem;
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 26px;
  }
}
section.banner {
  background: linear-gradient(
    var(--banner-top-gradient),
    var(--banner-bottom-gradient)
  );
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
}
button.home-button {
  margin-top: 2rem;
  height: 3rem;
  width: 6rem;
  font-size: 18px;
  font-weight: bolder;
}

.search-page {
  background-color: #9cc3d5ff;
  text-align: center;
  padding: 2rem;
  color: black;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: #0063b2ff;
  margin-bottom: 1rem;
  .search-header {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    font-weight: bolder;
  }
  .map-container {
    .map {
      border-radius: 1rem;
      border-style: solid;
      border-color: #0063b2ff;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .cant-find-your-bar {
    margin-top: 3rem;
  }
}
.bar-address {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
.bar-address p {
  padding: 0.25rem;
}

.details {
  border-color: #0063b2ff;
  border-style: solid;
  text-align: center;
  background-color: #9cc3d5ff;
  color: black;
  border-radius: 1rem;
  .hh {
    display: none;
  }
  .HappyHour {
    height: 10vh;
    width: 80vw;
  }
  .specials {
    h4 {
      padding-bottom: 1rem;
    }
    font-size: 24px;
    padding-top: 1rem;
  }
  .phone-number {
    font-size: 18px;
    color: black;
  }
}

.add-page {
  background-color: #9cc3d5ff;
  color: black;

  text-align: center;
  border-radius: 1rem;
  border-color: #0063b2ff;
  border-style: solid;
}
.login-page {
  .login {
    border-radius: 1rem;
    border-style: solid;
    border-color: #0063b2ff;
    background-color: #9cc3d5ff;
    color: black;
    padding: 2rem;
    .password {
      padding-top: 1rem;
    }
    .login-button {
      margin-top: 1rem;
    }
  }
  .sign-up {
    .password {
      padding-top: 1rem;
    }
    .email {
      padding-top: 1rem;
    }
    .sign-up-button {
      margin-top: 1rem;
    }
    border-radius: 1rem;
    border-style: solid;
    border-color: #0063b2ff;
    background-color: #9cc3d5ff;
    color: black;
    padding: 2rem;
  }
}
@media (min-width: 768px) {
  main.home-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 0;
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 46px;
    }
  }
  .login {
    margin-bottom: 4rem;
  }
  .details {
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 30px;
    }
    p {
      font-size: 28px;
    }
    .phone-number {
      font-size: 28px;
    }
    .specials {
      font-size: 24px;
    }
  }

  .map-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200%;
  }
  .map {
    width: 500%;
  }
}
@media (min-width: 992px) {
  .container {
    padding-left: 0;
    margin-left: 2rem;
  }
  main.home-page {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 0;
  }
  .search-page {
    margin-left: 5rem;
  }
  .add-page {
    margin-left: 5rem;
  }

  .login-page {
    display: flex;
    justify-content: space-evenly;
  }
  section.login {
    height: 100%;
  }

  .details {
    margin-left: 5rem;
    .HappyHour {
      display: none;
    }
    .hh {
      display: flex;
      width: 100%;
      height: 20rem;
      border-radius: 1rem;
    }
  }
}
